<div fxLayout="column" class="tb-subscription-list" [formGroup]="subscriptionListFormGroup">
  <div class="header" fxFlex fxLayout="row">
    <span class="cell" fxFlex="70" translate>mqtt-client.topic</span>
    <span class="cell" fxFlex="30" translate>mqtt-client.qos</span>
    <span [fxShow]="!disabled" style="width: 40px; min-width: 40px;">&nbsp;</span>
  </div>
  <div class="body">
    <div class="row" fxFlex fxLayout="row"
         fxLayoutAlign="start center" formArrayName="subscriptionsFormArray()"
         *ngFor="let subscriptionControl of subscriptionsFormArray().controls; let $index = index">

      <mat-form-field class="mat-block">
        <mat-label translate>mqtt-client.topic</mat-label>
        <input matInput [formControlName]="$index">
      </mat-form-field>
      <mat-form-field class="mat-block">
        <mat-label translate>mqtt-client.qos</mat-label>
        <input matInput [formControlName]="$index">
      </mat-form-field>


<!--      <mat-form-field class="mat-block">-->
<!--        <mat-label translate>mqtt-client.topic</mat-label>-->
<!--        <input matInput [formControl]="subscriptionControl.get('topic').value">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="mat-block">-->
<!--        <mat-label translate>mqtt-client.qos</mat-label>-->
<!--        <input matInput [formControl]="subscriptionControl.get('qos').value">-->
<!--      </mat-form-field>-->

<!--      <tb-resource-type-autocomplete-->
<!--        class="cell mat-block" fxFlex="30"-->
<!--        required-->
<!--        >-->
<!--      </tb-resource-type-autocomplete>-->
<!--      <tb-operation-type-list-->
<!--        class="cell mat-block" fxFlex="70"-->
<!--        required-->
<!--        [resource]="subscriptionControl.get('resource').value"-->
<!--        [formControl]="subscriptionControl.get('operations')">-->
<!--      </tb-operation-type-list>-->

      <button mat-button mat-icon-button color="primary"
              [fxShow]="!disabled"
              type="button"
              style="width: 40px; min-width: 40px;"
              (click)="removeSubscription($index)"
              [disabled]="isLoading$ | async"
              matTooltip="{{ 'mqtt-client.remove-permission' | translate }}"
              matTooltipPosition="above">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div>
      <button mat-button mat-raised-button color="primary"
              [fxShow]="!disabled"
              [disabled]="isLoading$ | async"
              (click)="addSubscription()"
              type="button"
              matTooltip="{{ 'mqtt-client.add-subscription' | translate }}"
              matTooltipPosition="above">
        <mat-icon>add</mat-icon>
        {{ 'action.add' | translate }}
      </button>
    </div>
  </div>
</div>
