<div fxLayout="column" class="tb-subscription-list" [formGroup]="subscriptionListFormGroup">
  <div class="header" fxFlex fxLayout="row">
    <span class="cell" fxFlex="70" translate>mqtt-client.topic</span>
    <span class="cell" fxFlex="30" translate>mqtt-client.qos</span>
    <span [fxShow]="!disabled" style="width: 40px; min-width: 40px;">&nbsp;</span>
  </div>
  <div class="body">
    <div class="row" fxFlex fxLayout="row"
         fxLayoutAlign="start center" formArrayName="subscriptions"
         *ngFor="let subscriptionControl of subscriptionListFormGroup.get('subscriptions')['controls']; let $index = index">
      <ng-container [formGroupName]="$index">
        <mat-form-field class="cell mat-block" fxFlex="70">
          <mat-label translate>mqtt-client.topic</mat-label>
          <input matInput formControlName="topic">
        </mat-form-field>
        <mat-form-field class="cell mat-block" fxFlex="30">
          <mat-label translate>mqtt-client.qos</mat-label>
          <input matInput formControlName="qos">
        </mat-form-field>
        <button mat-button mat-icon-button color="primary"
                [fxShow]="!disabled"
                type="button"
                style="width: 40px; min-width: 40px;"
                (click)="removeSubscription($index)"
                [disabled]="isLoading$ | async"
                matTooltip="{{ 'mqtt-client.remove-permission' | translate }}"
                matTooltipPosition="above">
          <mat-icon>close</mat-icon>
        </button>
      </ng-container>
    </div>
    <button mat-button mat-raised-button color="primary"
            [fxShow]="!disabled"
            [disabled]="isLoading$ | async"
            (click)="addSubscription()"
            type="button"
            matTooltip="{{ 'mqtt-client.add-subscription' | translate }}"
            matTooltipPosition="above">
      <mat-icon>add</mat-icon>
      {{ 'action.add' | translate }}
    </button>
  </div>
</div>
