<section [formGroup]="credentialsMqttFormGroup">
  <mat-form-field class="mat-block">
    <mat-label translate>mqtt-client-credentials.parent-certificate-common-name</mat-label>
    <input matInput formControlName="parentCertCommonName">
    <mat-error *ngIf="credentialsMqttFormGroup.get('parentCertCommonName').hasError('required')">
      {{ 'mqtt-client-credentials.parent-cert-common-name-required' | translate }}
    </mat-error>
  </mat-form-field>
  <tb-auth-rules
    formControlName="authorizationRulesMapping">
  </tb-auth-rules>
</section>
