<section [formGroup]="credentialsMqttSslFormGroup">
  <mat-form-field class="mat-block">
    <mat-label translate>mqtt-client-credentials.parent-certificate-common-name</mat-label>
    <input matInput formControlName="parentCertCommonName">
    <mat-error *ngIf="credentialsMqttSslFormGroup.get('parentCertCommonName').hasError('pattern')">
      {{ 'mqtt-client-credentials.parent-certificate-common-name-required' | translate }}
    </mat-error>
  </mat-form-field>
  <div style="padding-top: 10px">
    <tb-authorization-rules-mapping
      [authorizationRulesMapping]=authorizationRulesMappingData
      formControlName="authorizationRulesMapping">
    </tb-authorization-rules-mapping>
  </div>
</section>
