<p>subscription works!</p>
<!--<form [formGroup]="entityForm">-->
<!--  <mat-expansion-panel [expanded]="true">-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        <div class="tb-panel-title" translate>mqtt-client.subscriptions</div>-->
<!--      </mat-panel-title>-->
<!--    </mat-expansion-panel-header>-->
<!--    <section>-->
<!--      <tb-subscription-list formControlName="subscriptions">-->
<!--      </tb-subscription-list>-->
<!--    </section>-->
<!--  </mat-expansion-panel>-->
<!--</form>-->
