:host {
  .tb-subscription-list {
    .header {
      padding-right: 5px;
      padding-bottom: 5px;
      padding-left: 5px;

      .cell {
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
        font-weight: 700;
        color: rgba(0, 0, 0, .54);
        white-space: nowrap;
      }
    }

    .body {
      max-height: 300px;
      padding-right: 5px;
      padding-bottom: 20px;
      padding-left: 5px;
      overflow: auto;

      .row {
        padding-top: 5px;
      }

      .cell {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
}
