<section [formGroup]="credentialsFormGroup">
  <mat-form-field class="mat-block">
    <mat-label translate>mqtt-client-credentials.name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field class="mat-block">
    <mat-label translate>mqtt-client-credentials.type</mat-label>
    <mat-select formControlName="credentialsType">
      <mat-option *ngFor="let credentialsType of mqttCredentialsTypes" [value]="credentialsType">
        {{ credentialTypeNames.get(credentialsType) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div [ngSwitch]="credentialsFormGroup.get('credentialsType').value">
    <ng-template [ngSwitchCase]="mqttCredentialsType.MQTT_BASIC">
      <tb-mqtt-credentials-basic formControlName="credentialsValue">
      </tb-mqtt-credentials-basic>
    </ng-template>
    <ng-template [ngSwitchCase]="mqttCredentialsType.SSL">
      <tb-mqtt-credentials-ssl formControlName="credentialsValue">
      </tb-mqtt-credentials-ssl>
    </ng-template>
  </div>
</section>
<h5>{{ credentialsFormGroup.getRawValue() | json }}</h5>
