<form>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="tb-panel-title" translate>mqtt-client-credentials.authorization-rules-mapping</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <section>
      <div fxLayout="column" class="tb-auth-rules-list" [formGroup]="rulesMappingFormGroup">
        <div class="header" fxFlex fxLayout="row">
          <span class="cell" fxFlex="50" translate>mqtt-client-credentials.certificate-matcher-regex</span>
          <span class="cell" fxFlex="50" translate>mqtt-client-credentials.topic-rule</span>
          <span [fxShow]="!disabled" style="width: 40px; min-width: 40px;">&nbsp;</span>
        </div>
        <div class="body">
          <div class="row" fxFlex fxLayout="row"
               fxLayoutAlign="start center" formArrayName="authorizationRulesMapping"
               *ngFor="let rulesControl of rulesFormArray().controls; let $index = index">
            <ng-container [formGroupName]="$index">
              <mat-form-field class="cell mat-block" fxFlex="50">
                <input [formControl]="rulesControl.get('certificateMtcherRegex')" matInput formControlName="certificateMtcherRegex">
              </mat-form-field>
              <mat-form-field class="cell mat-block" fxFlex="50">
                <input [formControl]="rulesControl.get('topicRule')" matInput formControlName="topicRule">
              </mat-form-field>
              <button mat-button mat-icon-button color="primary"
                      [fxShow]="!disabled"
                      type="button"
                      style="width: 40px; min-width: 40px;"
                      (click)="removeRule($index)"
                      matTooltip="{{ 'mqtt-client-credentials.remove-rule' | translate }}"
                      matTooltipPosition="above">
                <mat-icon>close</mat-icon>
              </button>
            </ng-container>
          </div>
          <button mat-button mat-raised-button color="primary"
                  [fxShow]="!disabled"
                  (click)="addRule()"
                  type="button"
                  matTooltip="{{ 'mqtt-client-credentials.add-rule' | translate }}"
                  matTooltipPosition="above">
            <mat-icon>add</mat-icon>
            {{ 'action.add' | translate }}
          </button>
        </div>
      </div>
    </section>
  </mat-expansion-panel>
</form>


